@mixin iconArrows() {
    font-size: 55px;
    color: white;
    color: rgba(255,255,255,0.5);

    &:hover {
      color: rgb(34,34,34);
    }
}

html, body {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;
}

body {
  padding-top: 50px;
}

.container {
  padding: 0;
}

#home, #about, #contact, #traffic {
  width: 100%;
  height: 95vh;
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-wrapper {
    // width: 80%;
    // position: absolute;
    // top: 12%;
    // transform: translate(-50%);
  }
}

#about {
  background: rgb(189,106,56);
  background: rgba(189,106,56,0.85);
}

#contact {
  background: rgb(90,37,37);
  background: rgba(90,37,37,0.85);
}

#traffic {
  background: rgb(40,103,97);
  background: rgba(40,103,97,0.85);
}

.dropdown-toggle {
  cursor: pointer;
}


.home-bottom, .about-bottom, .contact-bottom, .traffic-bottom {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;

  i {
    @include iconArrows;
  }
}

.about-left, .contact-left, .traffic-left {
  width: 40px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 10px;
  display: flex;
  align-items: center;

  i {
    @include iconArrows;
  }
}

.about-right, .contact-right, .traffic-right {
  width: 40px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 15px;
  display: flex;
  align-items: center;

  i {
    @include iconArrows;
  }
}

/////////////////////////////////////
//----- slide page animations -----//
/////////////////////////////////////
@keyframes slideUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideUp {
  animation: slideUp 1s ease;
}

@keyframes slideDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideDown {
  animation: slideDown 1s ease;
}

@keyframes slideLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideLeft {
  animation: slideLeft 1s ease;
}

@keyframes slideRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideRight {
  animation: slideRight 1s ease;
}
