#about {
  // background: rgb(189,106,56);
  // background: rgba(189,106,56,0.85);

  .panel-heading {
    background: rgb(189,106,56);
    background: rgba(189,106,56,0.85);
    color: white;
  }
}
