html, body {
  box-sizing: border-box; }

body {
  padding-top: 50px; }

#home, #about, #contact, #trafficking {
  width: 100%;
  height: 95vh; }

#about {
  background: #bd6a38;
  background: rgba(189, 106, 56, 0.85); }

#contact {
  background: #5a2525;
  background: rgba(90, 37, 37, 0.85); }

#trafficking {
  background: #286761;
  background: rgba(40, 103, 97, 0.85); }

.dropdown-toggle {
  cursor: pointer; }

.home-bottom, .about-bottom, .contact-bottom, .traffic-bottom {
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center; }
  .home-bottom i, .about-bottom i, .contact-bottom i, .traffic-bottom i {
    font-size: 45px;
    color: black; }

.about-left, .contact-left, traffic-left {
  width: 8vw;
  height: 100%;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center; }
  .about-left i, .contact-left i, traffic-left i {
    font-size: 45px;
    color: black; }

@keyframes slideUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideUp {
  animation: slideUp 1s ease; }

@keyframes slideDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideDown {
  animation: slideDown 1s ease; }

@keyframes slideLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideLeft {
  animation: slideLeft 1s ease; }

@keyframes slideRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideRight {
  animation: slideRight 1s ease; }

#home {
  background: #283b67;
  background: rgba(40, 59, 103, 0.85); }
  #home .jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    #home .jumbotron h1 {
      margin-left: 50px;
      margin-right: 50px;
      font-size: 85px; }
    #home .jumbotron p {
      margin-left: 50px;
      margin-right: 50px; }
