#traffic {
  // background: rgb(40,103,97);
  // background: rgba(40,103,97,0.85);

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  .panel-body {
    height: auto;
    min-height: 50vh;
  }

  .panel-heading {
    background: rgb(0,128,128);
    background: rgba(0,128,128,0.85);
    color: white;
  }

  #types {

    p {
      margin-top: 35px;

      em {
        color: rgb(40, 103, 97);
        color: rgba(40,103,97,0.85);
      }
    }

    .btn {

      &:active {
        color: white;
        background: rgb(40, 103, 97);
      }
    }
  }

  #facts {
    display: none;
  }

  #misc {
    display: none;
  }
}

.nav-tabs {

  li {
    cursor: pointer;
  }
}

.typesInfo {
  padding-left: 15px;
}
