#traffic {

  ul {
    list-style: none;

    li {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  .panel-body {
    height: auto;
    min-height: 50vh;
  }

  #types {

    p {
      margin-top: 35px;

      em {
        color: rgb(40, 103, 97);
        color: rgba(40,103,97,0.85);
      }
    }

    .btn {

      &:active {
        color: white;
        background: rgb(40, 103, 97);
      }
    }
  }

  #facts {
    display: none;
  }

  #misc {
    display: none;
  }
}

.nav-tabs {

  li {
    cursor: pointer;
  }
}
