<div animate-dir>
  <nav-dir></nav-dir>
  <div id="contact" class="slideDown">

    <div class="col-md-10 col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Contact:</h3>
        </div>
        <div class="panel-body">
          <h4>Need to get in touch, send a message below!</h4>
          <form ng-submit="vm.sendRequest(vm.sendData)">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Your name" ng-model="vm.sendData.name" required />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Your email" ng-model="vm.sendData.email" required />
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea rows="6" class="form-control" id="message" placeholder="Your message" ng-model="vm.sendData.message" required></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- nav arrows for about page -->
  <div class="about-left">
    <a ui-sref="traffic"><i class="fa fa-chevron-left"></i></a>
  </div>
  <div class="about-right">
    <a ui-sref="about"><i class="fa fa-chevron-right"></i></a>
  </div>
  <div class="about-bottom">
    <a ui-sref="home"><i class="fa fa-chevron-down"></i></a>
  </div>
</div>
